.link {
    text-decoration: none;
    color: inherit;
}

.reg-link {
    color: grey;
}

.reg-link:hover {
    text-decoration: underline;
}

.link-reg-to-home {
    text-decoration: none;
    color: #2F5E5B;
    font-size: 20px;
}

.link-reg-to-home:hover {
    text-decoration: underline;
}