.link {
    text-decoration: none;
    color: inherit;
}

.link-header {
    transition: color 0.3s ease;
}

.link-header:hover {
    color:#2F5E5B;
    
}

.reg-link {
    color: grey;
}

.reg-link:hover {
    text-decoration: underline;
}

.link-reg-to-home {
    text-decoration: none;
    color: #2F5E5B;
    font-size: 20px;
}

.link-reg-to-home:hover {
    text-decoration: underline;
}

.link-button {
    display: flex;
}