.report-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
    height: 50%;
    margin: auto;
    background-color: #f7f7f7;
    color: #2F5E5B;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  

.report-container span {
    display: block;
    margin-bottom: 5px;
  }

.title {
    font-weight: bold;
}

input {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  width: 57%;
  font-size: 16px;
  color: #2F5E5B;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0.8;
  cursor: pointer;
}

  

.select {
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 16px;
  color: #2F5E5B;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 250px;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.checkbox {
    background-color: transparent;
    border: none;
    width: auto;
}
  